@import "tailwindcss";
@tailwind utilities;

/* @keyframes gradient {
    0%, 100% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
  }
  .animate-gradient {
    background-size: 200% 200%;
    animation: gradient 8s ease-in-out infinite;
  } */

.moving-gradient {
  background: linear-gradient(90deg, #3b82f6, #a78bfa, #f472b6);
  background-size: 200% 200%;
}
